.container {
    max-width: 800px;
}

.center-aligned {
    text-align: center;
}

.vote-button {
    width: 25px;
}

.voting-result-item {

    border-color:  #e8b825;
    width: 53px;
    padding: 13px 0 13px 0;
}

.exposed {
    background-color: #ffca28;
}

.voting-results-items {
    min-height: 160px!important;;
}

/*loader*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
