.container {
    max-width: 800px;
}

.center-aligned {
    text-align: center;
}

.vote-button {
    width: 25px;
}

.voting-result-item {

    border-color:  #e8b825;
    width: 53px;
    padding: 13px 0 13px 0;
}

.exposed {
    background-color: #ffca28;
}

.voting-results-items {
    min-height: 160px!important;;
}