{% extends "base.html" %}
{% block js %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container center-aligned">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Scrum poker</h1>
            <h4>App for estimating tasks in agile projects</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <form action="/room" method="POST">
                <p>Create room as moderator and share URL for team members to join the voting</p>
                <button class="primary" type="submit">Create room</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}